<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>My EJS Website</title>
</head>
<body>
    <div class="conatainer">
        
        <h1 id="titulo"><%= message %></h1>
        <h4>ingrese su nombre/s </h4>
        <input type="text">
        <button>Ok</button>
        <h4>ingrese su apellido/s </h4>
        <input type="text">
        <button>Ok</button>
        <h4>ingrese su edad </h4>
        <input type="text">
        <button>Ok</button>
    </div>
    

</body>
</html>
